<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="alabs-qr">

<script type="text/javascript" src="js/lib/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="js/lib/jsqrcode/grid.js"></script>
<script type="text/javascript" src="js/lib/jsqrcode/version.js"></script>
<script type="text/javascript" src="js/lib/jsqrcode/detector.js"></script>
<script type="text/javascript" src="js/lib/jsqrcode/formatinf.js"></script>
<script type="text/javascript" src="js/lib/jsqrcode/errorlevel.js"></script>
<script type="text/javascript" src="js/lib/jsqrcode/bitmat.js"></script>
<script type="text/javascript" src="js/lib/jsqrcode/datablock.js"></script>
<script type="text/javascript" src="js/lib/jsqrcode/bmparser.js"></script>
<script type="text/javascript" src="js/lib/jsqrcode/datamask.js"></script>
<script type="text/javascript" src="js/lib/jsqrcode/rsdecoder.js"></script>
<script type="text/javascript" src="js/lib/jsqrcode/gf256poly.js"></script>
<script type="text/javascript" src="js/lib/jsqrcode/gf256.js"></script>
<script type="text/javascript" src="js/lib/jsqrcode/decoder.js"></script>
<script type="text/javascript" src="js/lib/jsqrcode/QRCode.js"></script>
<script type="text/javascript" src="js/lib/jsqrcode/findpat.js"></script>
<script type="text/javascript" src="js/lib/jsqrcode/alignpat.js"></script>
<script type="text/javascript" src="js/lib/jsqrcode/databr.js"></script>

<script type="text/javascript" src="js/qr.js"></script>
<script type="text/javascript" src="js/camera.js"></script>
<script type="text/javascript" src="js/init.js"></script>

  <style>
    :host {
      display: block;
    }
  </style>
  <template>
    
    <video id="camsource" autoplay width="320" height="240">Put your fallback message here.</video>
    <canvas id="qr-canvas" width="320" height="240" style="display:none"></canvas>
    <h1 id="qr-value"></h1>
  </template>
</dom-module>
<script>
(function() {
  Polymer({
    is: 'alabs-qr',

    properties: {
      foo: {
        type: String,
        value: 'bar',
        notify: true
      },

      y: {
        type: Object
      }
    },


    ready: function(){

      this.gotcode = false;



      //init();

      var that = this;

      document.addEventListener('qrcoderead', function(e){
        console.log('I heard you! ',e.detail);
        y.val("qrcoderead", e.detail);
        that.codevalue = e.detail;
        that.fire('got-code', { detail: e.detail});
      });
    }
  });
})();
</script>
