<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-iconset/iron-iconset.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../bower_components/y-xmpp/y-xmpp.html">
<link rel="import" href="../../bower_components/yjs/y-object.html">
<script src="../../bower_components/node-uuid/uuid.js"></script>

<dom-module id="alabs-profile">
  <style>
    :host {
      display: block;
    }

    paper-material {
    border-radius: 2px;
    height: 100%;
    box-sizing: border-box;
    padding: 16px 40px 16px 40px;
    width: calc(98.66% - 16px);
    margin: 16px auto;
    background: white;
  }
  </style>
  <template>

  <template is="dom-if" if="{{dialog}}">
  <paper-material elevation="2" class="flex">
    <div>
      <h2>PIN</h2>
        <paper-input label="Pincode" value="{{firstPin}}"></paper-input>
      <div class="buttons">
        <paper-button dialog-dismiss>Cancel</paper-button>
        <paper-button dialog-confirm on-click="doPincode">Accept</paper-button>
      </div>
    </div>
    </paper-material>
  </template>

  <template is="dom-if" if="{{!dialog}}">

    <template is="dom-if" if="{{editprofile}}">

    <paper-material elevation="1">

    <div class="vertical layout">

    <paper-input error-message="Invalid input!" label="Voornaam" value="{{voornaam}}" placeholder="{{userobjectparsed.voornaam}}"></paper-input>
    <paper-input error-message="Invalid input!" label="Achternaam" value="{{achternaam}}" placeholder="{{userobjectparsed.achternaam}}"></paper-input>
    <paper-input error-message="Invalid input!" label="Straat en nummer" value="{{straatnr}}" placeholder="{{userobjectparsed.straatnr}}"></paper-input>
    <paper-input error-message="Invalid input!" label="Postcode" value="{{postcode}}" placeholder="{{userobjectparsed.postcode}}"></paper-input>
    <paper-input error-message="Invalid input!" label="Plaats" value="{{plaats}}" placeholder="{{userobjectparsed.plaats}}"></paper-input>

    <paper-button on-click="save">
      <iron-icon icon="icons:lock-open"></iron-icon>
      Bewaren
    </paper-button>

    </div>

    </paper-material>

    </template>

    <template is="dom-if" if="{{!editprofile}}">

    <paper-material elevation="1">

    <div class="vertical layout">

    <paper-input disabled error-message="Invalid input!" label="Voornaam" value="{{userobjectparsed.voornaam}}"></paper-input>
    <paper-input disabled error-message="Invalid input!" label="Achternaam" value="{{userobjectparsed.achternaam}}"></paper-input>
    <paper-input disabled error-message="Invalid input!" label="Straat en nummer" value="{{userobjectparsed.straatnr}}"></paper-input>
    <paper-input disabled error-message="Invalid input!" label="Postcode" value="{{userobjectparsed.postcode}}"></paper-input>
    <paper-input disabled error-message="Invalid input!" label="Plaats" value="{{userobjectparsed.plaats}}"></paper-input>

    <paper-button on-click="edit">
      <iron-icon icon="icons:lock"></iron-icon>
      Bewerken
    </paper-button>

    </div>

    </paper-material>

    <paper-material elevation="1">
      <!-- <img id="qr" src="{{qrsrc}}"> -->
      <alabs-qrcode code="{{userid}}"></alabs-qrcode>
      
    </paper-material>
      
    </paper-material>

    <paper-material elevation="1">

      <h3>Getuigen:</h3>
      <template is="dom-repeat" items="{{getuigenparsed}}">
      <p>{{item.naam}}</p>
      </template>

      <button on-click="addgetuige">add getuige</button>


      
    </paper-material>

    </template>

    </template>

    
    <!-- Why don't we save this stuff locally -->
    <iron-localstorage 
      name="labs_Profile" 
      value="{{userid}}"
      on-iron-localstorage-load-empty="createUser" 
      ></iron-localstorage>

    <iron-localstorage 
      name="{{userid}}"
      id="localuserobject"
      value="{{userobject}}"
      on-iron-localstorage-load="parseUser"
      ></iron-localstorage>

    <iron-localstorage 
      name="LabsP_getuigen" 
      value="{{getuigen}}"
      on-iron-localstorage-load-empty="noGetuigen" 
      on-iron-localstorage-load="parseGetuigen"
      ></iron-localstorage>

    <!-- And now we're peer to peering it -->
    
    <y-object connector={{connector}} val={{y}}>
      <y-property name="voornaam" val={{voornaam}}></y-property>
    </y-object>

    <xmpp-connector connector={{connector}}></xmpp-connector>
    

  </template>
</dom-module>
<script>
(function() {

  

  var connector = new Y.XMPP().join("astadlabs", {syncMode: "syncAll"});
connector.debug = true
  //var connector = new Y.XMPP(options).join("astadlabs");
  var y = new Y(connector);
  y.observe(function(events){
    for(i in events){

      console.log("The following event-type was thrown: "+events[i].type)
      console.log("The event was executed on: "+events[i].name)
      console.log("The event object has more information:")
      console.log(events[i])
      // if(event.name === "textfield" && event.type !== "delete"){
      //   //y.val("textfield").bind(textbox);
      //   //y.val("headline").bind(document.querySelector("h1"))
      //   console.log('ik heb iets gehoord van ', y.val("userid"));
      // }
    }
  });

  Polymer({

    is: 'alabs-profile',

    properties: {
      userobject: {
        type: Array,
        observer: '_parseuserObject'
      },

      getuigen: {
        type: Array,
        observer: '_getuigenChanged'
      },

      pincode: {
        type: Number,
        observer: '_checkPin'
      },

      userid: {
        type: String,
        observer: '_userid'
      },

      dialog: {
        type: Boolean,
        value: true
      }
    },

    ready: function(){
      this.editprofile = false;
    },

    doPincode: function(){
      this.pincode = this.firstPin;
      console.log(this.pincode);
    },

    _checkPin: function(){
      console.log(this.pincode);
      this._parseuserObject();
    },

    _parseuserObject: function(){
      var that = this;
      if(this.userobject==null){
        this.save();
      };
      console.log('Found userobject: ',this.userobject);
      var pincode = this.pincode.toString();
      var decrypted = CryptoJS.AES.decrypt(this.userobject, pincode);
      console.log("Decrypted user: ", decrypted);
      //if(decrypted.sigBytes>=100){
        console.log('wrong code');
        this.dialog = false;
        this.firstPin = '';
      //};
      console.log("Decr. and parsed: ", decrypted.toString(CryptoJS.enc.Utf8));
      var decrtostring = decrypted.toString(CryptoJS.enc.Utf8);
      console.log("JSON Parsed", JSON.parse(decrtostring));
      this.userobjectparsed = JSON.parse(decrtostring);
      y.val("user",decrypted);
    },

    noUser: function(){
      console.log('no user found');
      this.editprofile = true;
    },

    addgetuige: function(){
      console.log('klik');
      //this.getuigen = [{"naam": "ik"},{"naam": "iks"},{"naam": "ikke"}];
      var getuigen = this.getuigenparsed;
      console.log(JSON.stringify(getuigen));
      var nummer = Math.floor((Math.random() * 100) + 1);
      getuigen.push({"naam": nummer});
      //this.$.locgetuigen.value = getuigen;
      this.getuigen = JSON.stringify(getuigen);
    },

    noGetuigen: function(){
      console.log('no getuigen found');
      console.log('ik peis dat er nog geen zijn');
      this.getuigen = JSON.stringify([]);
    },

    edit: function(){
      this.editprofile = true;
    },

    save: function(){
      this.editprofile = false;
      var userDecrypted = {"voornaam": this.voornaam, 
                            "achternaam": this.achternaam,
                            "straatnr": this.straatnr,
                            "postcode": this.postcode,
                            "plaats": this.plaats
                          };
      console.log('decrypted: ', JSON.stringify(userDecrypted));
      var userStringified = JSON.stringify(userDecrypted);
      console.log('userStringified: ', userStringified);
      var pincode = this.pincode.toString();
      var userEncrypted = CryptoJS.AES.encrypt(userStringified, pincode);
      console.log('userEncrypted: ', userEncrypted.toString());
      this.userobject = userEncrypted.toString();
    },

    _voornaam: function(){
      console.log(this.voornaam);
      y.val("voornaam",this.voornaam);
    },

    createUser: function(){
      this.userid = uuid.v1();
    },

    _userid: function(){  
      console.log('found something: ',this.userid);
      if(this.userid==null){
        this.userid = uuid.v1();
      };
      this.$.localuserobject.reload();
      console.log(this.userobject);
      this.$.localuserobject.name = this.userid;     
    },

    _getuigenChanged: function(){
      console.log('getuigen: ', this.getuigen);
      this.getuigenparsed = JSON.parse(this.getuigen);
    },

    parseGetuigen: function(){
      //console.log('getuigen: ', JSON.stringify(this.getuigen));
      this.getuigenparsed = JSON.parse(this.getuigen);
    }

  });
})();
</script>
